# 1주차 대입연산자 ppt53

In [762]:
a = [1, 2, 3]

In [763]:
b = a

In [764]:
a.append(4) # 뒤에 추가함

In [765]:
b

[1, 2, 3, 4]

# 1주차 숫자 자료형 ppt 56

In [766]:
ival = 17239871

ival ** 6

# 1주차 숫자형 ppt 57
부동소수점 숫자

In [767]:
fval = 7.243

In [768]:
fval2 = 6.78e-5

In [769]:
3 / 2

1.5

# 1주차 ppt 58
문자열은 일련된 글자의 연속이며 리스트나 튜플 같은 순차적 자료형과 같이 취급

In [770]:
a = 'one way of writing a string'

In [771]:
b = "another way"

In [772]:
c = """
This is a longer string that
spans multiple lines
"""

In [773]:
s = "python"

In [774]:
list(s)

['p', 'y', 't', 'h', 'o', 'n']

In [775]:
s[:3]

'pyt'

# 1주차 두문자열 이어 붙이기 ppt 61

In [776]:
a = 'this is the first half '

In [777]:
b = 'and this is the second half'

In [778]:
a + b

'this is the first half and this is the second half'

# 1주차 문자열 포맷팅 ppt 62

In [779]:
template = '%.2f %s are worth $%d'

In [780]:
template % (4.5560, 'Argentine Pesos', 1)

'4.56 Argentine Pesos are worth $1'

In [781]:
print('%.2f %s are worth $%d' % (4.5560, 'Argentine Pesos', 1))

4.56 Argentine Pesos are worth $1

In [782]:
'{0:.2f} {1} are worth ${2}'.format(4.5560, 'Argentine Pesos', 1)

'4.56 Argentine Pesos are worth $1'

# 1주차 boolean ppt 63

In [783]:
True and True

True

In [784]:
False or True

True

In [785]:
a = [1, 2, 3]
if a:
    print('I found something!')

I found something!

In [786]:
b = []
if not b:
    print('Empty!')

Empty!

In [787]:
bool([]),bool([1, 2, 3])

(False, True)

In [788]:
bool('Hello world!'), bool('')

(True, False)

In [789]:
bool(0), bool(1)

(False, True)

# 1주차 튜플 ppt 64

1차원의 고정된 크기를 가지는 변경 불가능한 순차 자료형
쉼표로 구분된 값 대입

In [790]:
tup = 4, 5, 6

tup

괄호를 사용해서 값을 묶어줌으로써 중첩된 튜플 정의

In [791]:
nested_tup = (4, 5, 6), (7, 8)

In [792]:
nested_tup

((4, 5, 6), (7, 8))

튜플에서 값 분리하기

In [793]:
tup = (4, 5, 6)

In [794]:
a, b, c = tup

In [795]:
b

5

In [796]:
tup = 4, 5, (6, 7)

In [797]:
a, b, (c, d) = tup

In [798]:
d

7

# 1주차 리스트 ppt 66
튜플과는 대조적으로 리스트는 크기나 내용의 변경이 가능
대괄호나 []나 list 함수 사용해서 생성

In [799]:
a_list = [2, 3, 7, None]

In [800]:
tup = ('foo', 'bar', 'baz')

In [801]:
b_list = list(tup)

In [802]:
b_list

['foo', 'bar', 'baz']

# 1주차 슬라이싱 ppt 67

In [803]:
sep = [7, 2, 3, 7, 5, 6, 0, 1]

In [804]:
sep[1:5]

[2, 3, 7, 5]

In [805]:
sep[3:4] = [6, 3]

In [806]:
sep

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [807]:
sep[:5]

[7, 2, 3, 6, 3]

In [808]:
sep[3:]

[6, 3, 5, 6, 0, 1]

In [809]:
sep[-4:]

[5, 6, 0, 1]

In [810]:
sep[-6:-2]

[6, 3, 5, 6]

In [811]:
sep[::2]

[7, 3, 3, 6, 1]

In [812]:
sep[::-1]

[1, 0, 6, 5, 3, 6, 3, 2, 7]

# 1주차 내장 순차 자료형 함수 ppt 68
sorted 정렬된 새로운 리스트를 반환

In [813]:
sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

In [814]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

zip 여러개의 리스트나 튜플 또는 다른 순차 자료형을 서로 짝지어서 ㅌ플의 리스트 생성

In [815]:
seq1 = ['foo', 'bar', 'baz']

In [816]:
seq2 = ['one', 'two', 'three']

In [817]:
zip(seq1, seq2)

In [818]:
sep3 = [False, True]

In [819]:
zip(seq1, seq2, sep3)

In [820]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('%d: %s, %s' % (i, a, b))

0: foo, one
1: bar, two
2: baz, three

# 1주차 사전 ppt 69
* 파이썬 내장 자료 구조 중 가장 중요한 자료구조
* 일반적으로 해시맵또는 연관 배열이라고 알려져 있음
* 유연한 크기를 가지는 키-값 상으로 모두 파이썬 객체
* 중괄호를 사용하여 콜론으로 구분돤 키와 값을 묶음

In [821]:
empty_dict = {}

In [822]:
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}

In [823]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [824]:
d1[7] = 'an integer'

In [825]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [826]:
d1['b']

[1, 2, 3, 4]

In [827]:
'b' in d1

True

# 2주차 문제풀이
## 1. 다음 코드의 결과값은?

In [828]:
a = "Life is too short, you need python"
if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" not in a: print("shirt")
elif "need" in a: print("need")
else: print("none")

shirt

## 2. while문을 사용해 1부터 1000까지의 자연수 중 3의 배수의 합을 구해보자

In [829]:
result = 0
i = 1
while i <= 1000:
    if i % 3 == 0:
        result += i
    i += 1
print(result)

166833

## 3 리스트 중에서 홀수에만 2를 곱하여 저장하는 다음 코드가 있다.

In [830]:
numbers = [1, 2, 3, 4, 5]

result = []
for n in numbers:
    if n % 2 == 1:
        result.append(n*2)

위 코드를 리스트 내포를 사용하여 표현해보자

In [831]:
numbers = [1, 2, 3, 4, 5]
result = [n*2 for n in numbers if n % 2 == 1]
print(result)

[2, 6, 10]

## 4. 주어진 자연수가 홀수인지 짝수인지 판별해 주는 함수르르 작성해 보자.

In [832]:
def is_odd(number):
    if number % 2 == 1:
        return True
    else:
        return False
    result.append(n*2)

## 5. 입력으로 들어오는 모든 수의 평균 값을 계산해 주는 함수를 작성해 보자.

In [833]:
def avg_numbers(*args):
    result = 0
    for i in args:
        result += i
    return result / len(args)

In [834]:
avg_numbers(1, 2)

1.5

In [835]:
avg_numbers(1, 2, 3, 4, 5)

3.0